  footer {
      .contactbar {
          background-color: aliceblue;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .logocont {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30%;
              height: 50px;

              img {
                  object-fit: contain;
                  height: 90%;
              }
          }

          .contactlink {
              font-size: 10px;
              width: 30%;
              height: 130px;
              gap: 20px;
          }

          .location {
              font-size: 10px;
              width: 30%;
              height: 130px;
              gap: 20px;
          }

          .socialmedia {
              display: flex;
              flex-direction: row;

              img {
                  justify-content: center;
                  align-items: center;
                  width: 30%;
                  height: 50px;
                  object-fit: contain;
              }
          }
      }

      .whatsapp {
          img {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100px;
              object-fit: contain;
          }
      }

      .bottombar {
          background-color: #004413;
          display: flex;
          justify-content: space-between;
          padding: 5px;

          .copyright {
              width: 50%;
              display: flex;
              justify-content: center;
              color: white;
              font-size: 8px;
              font-family: 'Arial', sans-serif;
              gap: 50px;
          }
      }
  }