* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
.homecontainer {
      
       background-color: hwb(0 90% 1%);
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 40px 80px;
       width: 100%;
       max-width: 1200px;
       position: relative;
       box-sizing: border-box;
       margin: 0 auto;
       border-radius: 8px;

      
       .caso1 {
         display: flex;
         flex-direction: column;
         width: 50%;
         font-family: 'Arial', sans-serif;
         text-align: left;
         }
         
       }
       .btn-descubrir {
         background-color: #004413;
         color :white;
         border-radius:  none;
         width: auto;
         padding: 12px 30px;
         
          border: lch(87.03% 108.38 139.73);
          width: 30%;
          align-self: center;

          }
       .caso2 img {
         
          width: 300px;
          height: auto;
          object-fit: contain;  
       }
      
    