 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   width: 100%;
   font-family: 'Arial', sans-serif;

   header {

     .topbar {
       background-color: #004413;
       display: flex;
       justify-content: space-between;
       padding: 5px;

       .div1 {
         width: 50%;
         display: flex;
         justify-content: center;
         color: white;
         font-size: 14px;
         gap: 50px;

         p {
           i {
             margin-right: 3px;
           }
         }
       }

       .div2 {
         width: 50%;
         display: flex;
         justify-content: center;
         color: white;
         font-size: 14px;
         font-family: 'Arial', sans-serif;
       }
     }

     .midbar {
       display: flex;
       justify-content: space-between;
       align-items: center;

       .logoContainer {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 30%;
         height: 80px;

         img {
           object-fit: contain;
           height: 100%;
         }
       }

       .searchContainer {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 40%;
         height: 80px;

         .inputContainer {
           width: 70%;
           position: relative;
           display: flex;
           justify-content: center;
           align-items: center;

           input {
             width: 100%;
             height: 40px;
             border: 1px solid #ccc;
             border-radius: 4px;
             padding-left: 10px;
             font-size: 14px;
           }

           i {
             position: absolute;
             right: 5px;
             color: #888;
           }
         }



         button {
           height: 40px;
           aspect-ratio: 1/1;
           background-color: #004413;
           color: white;
           border: none;
           cursor: pointer;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 4px;
         }
       }

       .userOptionsContainer {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 30%;
         height: 80px;
         gap: 20px;

         .iconContainer {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           padding: 5px;
           border: none;
           background: none;
           position: relative;

           span {
             font-size: 15px;
             font-family: 'Arial', sans-serif;
           }

           &:hover,
           &:active {

             >i,
             >span {
               color: #004413;
               cursor: pointer;

             }
           }

           &:focus {
             .cartContainer {
               display: block;
             }
           }

           .cartContainer {
             display: none;
             position: absolute;
             top: 40px;
             box-shadow: 0 0 8px 3px #0005;
             background-color: white;

             width: 400px;
             height: 600px;
             z-index: 100;

             .topBar {
               height: 50px;
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 0 10px;
               color: black;
               border-bottom: 1px solid #0002;
               font-weight: bold;

               >a {
                 width: 40px;
                 height: 40px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 text-decoration: none;

                 &:hover {
                   >i {
                     color: red;

                   }
                 }

                 >i {
                   font-size: 16px;
                 }
               }
             }

             .midBar {
               height: 500px;
               background-color: white;
             }

             .bottomBar {
               height: 50px;
               background-color: #004413;
             }
           }
         }
       }
     }

     .bottombar {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       border-top: 1px solid #ccc5;
       border-bottom: 1px solid #ccc5;

       nav {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;

         ul {
           width: 80%;
           display: flex;
           justify-content: space-around;
           align-items: center;
           list-style: none;
           padding: 10px 0;

           li {

             a {
               text-decoration: none;
               color: black;
               font-family: 'Arial', sans-serif;
               font-size: 16px;
               display: flex;
               justify-content: center;
               gap: 5px;
             }

             &:hover {
               a {
                 color: #004413;
               }

               i {
                 color: #004413;
               }
             }
           }
         }
       }


     }
   }


   main {
     margin: 20px 0;

     .homecontainer button.fa-chevron-left {
       background-color: #004413;
       color: #ffffff;
       border: none;
       border-radius: 50%;
       width: 45px;
       height: 45px;
       cursor: pointer;
       display: inline-flex;
       align-items: center;
       justify-content: center;
       font-size: 12px;

       box-shadow:
         0 0 0 4px rgb(11, 102, 35, 0.2) 0 0 0 9px rgb(11, 102, 35, 0.1) 0 0 14px rgb(11, 102, 35, 0.05);

       transition: all 0.3s ease;
     }

     .homecontainer button.fa-chevron-right {
       background-color: #004413;
       color: #ffffff;
       border: none;
       border-radius: 50%;
       width: 45px;
       height: 45px;
       cursor: pointer;
       display: inline-flex;
       align-items: center;
       justify-content: center;
       font-size: 16px;

       box-shadow:
         0 0 0 4px rgb(11, 102, 35, 0.2) 0 0 0 9px rgb(11, 102, 35, 0.1) 0 0 14px rgb(11, 102, 35, 0.05);

       transition: all 0.3s ease;
     }

     .homecontainer button.fa-chevron-left:hover {
       transform: scale(1.08);
       background-color: #02631c !important;
     }

     .homecontainer button.fa-chevron-right:hover {
       transform: scale(1.08);
       background-color: #02631c !important;
     }

     .homecontainer {

       background-color: lch(91.89% 8.56 251.15);
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 14px 70px;
       width: 100%;
       max-width: 1200px;
       position: relative;
       box-sizing: border-box;
       margin: 0 auto;
       border-radius: 8px;


       .caso1 {
         display: flex;
         flex-direction: column;
         width: 50%;
         font-family: 'Arial', sans-serif;
         text-align: left;

         .p {
           text-align: left;
           font-family: 'Arial', sans-serif;
         }

       }

       .btn-descubrir {
         background-color: #004413;
         color: #ffffff;
         border-radius: 10px;
         padding: 6px 0px;
         gap: 5px;
         cursor: pointer;
         align-items: center;
         justify-content: center;
         font-size: 15px;
         width: 150px;
         text-align: center;

         box-shadow:
           0 0 0 4px rgb(11, 102, 35, 0.2) 0 0 0 9px rgb(11, 102, 35, 0.1) 0 0 14px rgb(11, 102, 35, 0.05);

         transition: all 0.3s ease;

       }

       .homecontainer .btn-descubrir {
         transform: scale(1.08);
         background-color: #02631c !important;
       }

       .caso2 img {

         width: 350px;
         height: auto;
         object-fit: contain;
       }
     }

     .homecontainer1 {

       background-color: lch(89.41% 0.88 236.41);
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 14px 70px;
       width: 100%;
       max-width: 1200px;
       position: relative;
       box-sizing: border-box;
       margin: 0 auto;
       border-radius: 8px;

       .homeconteiner1 h1 {
         text-align: center;
         font-size: 2.8rem;
         margin: 0;

       }

     }
   }
 }